@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@300&display=swap');
:root {
  --serif-font--: 'Playfair Display', serif;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-image: url("./images/background.png");
    background-repeat: no-repeat;
  }
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 40px;
  }
.aboutMe {
  margin-top: -5px;
  margin-bottom: 15px;
  text-align: left;
  font-size: 50px;
  font-family: var(--serif-font--)
  }
.headerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
.prifilePic {
  position: relative;
  max-width: 480px;
  overflow: hidden;
  border-radius: 100%;
  box-shadow: 10px 10px 10px rgba(237, 241, 121, 0.5);
}
/* New styles for image hover effect */
img.prifilePic,
.myHCJProjects {
  transition: transform 1s ease;
}
img.descriptionIcon {
  transition: transform 0.3s ease;
}
img.prifilePic:hover,
img.descriptionIcon:hover,
.myHCJProjects:hover {
  transform: scale(1.1);
}
.headerCard {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-size: 15px;
  color: #FFF;
  background-color: transparent;
}
.headerDescription {
  max-width: 500px;
  height: auto;
  font-size: 25px;
}
.mySummary {
  margin-bottom: -10px;
  font-size: 21px;
}
.descriptionSocial {
  margin-right: 30px;
}
.descriptionSocial,
.projectSocial {
  display: flex;
  justify-content: flex-end;
  gap:20px;
  margin-top: 30px;
  padding-right: 30px;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;
  padding: 16px;
  font-size: 24px;
}
.myHCJProjectsContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.sectionHeading {
  margin-top: 20px;
  margin-bottom: 5px;
  width: 100%;
  text-align: center;
  font-size: 34px;
  font-family: var(--serif-font--);
}
.myHCJProjects {
  margin: 16px;
  padding: 16px;
  max-width: 400px;
  font-size: 24px;
  background: #e5effa;
  border-radius: 10px;
  box-shadow: 10px 0px 10px rgba(11, 145, 178, 0.5);
}
.myHCJProjects {
  padding: 0px;
}
.hciThumbnail {
  max-width: 400px;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 10px 0px 10px rgba(11, 145, 178, 0.5);
}
.projectSocial {
  display: flex;
  flex-direction: column;
}
.projectBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -80px;
  margin-bottom: -116px;
  padding: 30px 0px 30px 30px;
}
.projectName {
  font-size: 34px;
  font-weight: bold;
}
.socialIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 14px;
  margin-left: 20px;
}
.descriptionIcon,
.footerIcon {
  max-width: 30px;
}
#open-in-new {
  width: 580px;
}
.descriptionOpenIcon {
  max-width: 80px;
}
.hcjProjectDescriptioin {
  margin-bottom: -10px;
  padding: 30px;
  padding-right: 0px;
  font-size: 20px;
}
.myCertificatesContent {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 30px;
}
.myCertifications {
  display: flex;
  justify-content: flex-start;align-items: center;
}
.certificateThumbnail {
  max-width: 90px;
  height: 85px;
}
.certificateDescriptioin {
  margin-left: 20px;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #0C90B2;
  }
.footerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
.footerDescription {
  padding: 20px;
  max-width: 500px;
  height: auto;
  font-size: 25px;
}
.footerPic {
  max-width: 510px;
  height: auto;
}
.footerCard {
  display: flex;
  flex-direction: column;
  font-size: 15px;
}
.contactMe {
  display: flex;
  flex-direction: column;
}
.myPhoneNumber::first-letter,
.myEmail::first-letter {
  margin-right: 20px;
  font-size: 40px;
}
.myPhoneNumber {
  margin-bottom: -25px;
}
.footerSocial {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 10px;
  padding-right: 30px;
}
a {
  text-decoration: none;
}
@media (max-width: 800px) {
  * {
    margin: 0;
    padding: 0;
    font-size: 15px;
  }
  main {
      flex-direction: column;
    }
  header {
      text-align: center;
      padding: 24px
    }
  .headerContent {
    gap: 10px;
  }
  .headerCard {
    margin-top: 25px;
    color: #000;
  }
  .description {
    text-align: left;
  }
  .content {
    margin-top: -45px;
  }
  .myCertifications {
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 5px;
  }
  .certificateDescriptioin {
    margin-top: 5px;
  }
  .footerPic {
    margin-bottom: 20px;
  }
  }