@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@300&display=swap');
:root {
  --serif-font--: 'Playfair Display', serif;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-image: url("./images/background.png");
    background-repeat: no-repeat;
  }
.aboutMe {
  margin-top: -5px;
  margin-bottom: 15px;
  text-align: left;
  font-size: 50px;
  font-family: var(--serif-font--)
  }
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 40px;
  }
.headerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
.prifilePic {
  max-width: 480px;
}
.headerCard {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  background-color: bisque;
}
.description {
  padding: 30px;
  max-width: 600px;
  max-height: 500px;
  font-size: 25px;
}
.descriptionSocial,
.projectSocial {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 30px;
  padding-right: 30px;
}
.descriptionIcon {
  max-width: 30px;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;
  padding: 16px;
  font-size: 24px;
}
.myHCJProjectsContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.sectionHeading {
  margin-top: 20px;
  margin-bottom: 5px;
  width: 100%;
  text-align: center;
  font-size: 34px;
  font-family: var(--serif-font--);
}
.myHCJProjects {
  margin: 16px;
  padding: 16px;
  max-width: 400px;
  font-size: 24px;
  background: blanchedalmond;
}
.myHCJProjects {
  padding: 0px;
}
.hciThumbnail {
  max-width: 400px;
}
.projectSocial {
  display: flex;
  flex-direction: column;
}
.projectBar {
  display: flex;
  justify-content: space-between;
  margin-top: -80px;
  margin-bottom: -116px;
  padding: 30px;
}
.projectName {
  font-size: 34px;
  font-weight: bold;
}
.socialIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.hcjProjectDescriptioin {
  margin-bottom: -10px;
  padding: 30px;
  padding-right: 0px;
  font-size: 20px;
}
.myCertificatesContent {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 30px;
}
.myCertifications {
  display: flex;
  justify-content: flex-start;align-items: center;
}
.certificateThumbnail {
  max-width: 80px;
  height: 60px;
}
.certificateDescriptioin {
  margin-left: 20px;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96px;
    color: white;
    background: darkslateblue;
  }
a {
  text-decoration: none;
}
@media (max-width: 800px) {
  main {
      flex-direction: column;
    }
  header {
      text-align: center;
      padding: 24px
    }
  .headerContent {
    gap: 10px;
  }
  .myCertifications {
    justify-content: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5px;
  }
  .certificateDescriptioin {
    margin-top: 5px;
  }
  }